@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.center {
    text-align: center;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

footer {
    background-color: #f8f8f8;
    color: #777777;
    text-align: center;
    line-height: 50px;
    padding: 10px 0;
}

main {
    background-color: lightgray;
    padding: 50px;

}

main h1 {
    padding: 50px 15px;
}

button.btn {
    margin-top: 20px;
}

.group {
    text-align: right;
}

@media all and (max-width: 350px){
    main h1 {

        font-size: 29px;
    }
}
div.col-sm-6{
    width: 80%;
}
div.col-sm-6 .post-content{
    width: 100%;

}
div.col-sm-6 form{
    width: 80%;
}
.view-post{
    border:2px solid darkgrey;
    background: url("../img/grid-example.png");
    width: 100%;
    font-size: 16px;

    border-radius: 10px;
    padding: 10px 30px;

}
div.view-post{
    margin-left: 60px;
    background: white;


}
.view-post span,.view-post a{
    font-style: italic;

}
.view-post img{
    width: 10%;
    float: right;
    padding-bottom: 5%;
   }
.view-post img:hover{
    cursor: pointer;
    
}
